PORT=8080
ADMIN_USERNAME=superuser123
ADMIN_PASSWORD=superpassword123
JWT_SECRET=jwt_secret

S3_ENDPOINT=https://anyu.dock.app
S3_BUCKET_NAME=super-bucket-123
S3_ACCESS_KEY_ID=super_access_id_123_456
S3_SECRET_ACCESS_KEY=super_secret_access_key_123_456